.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 960px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 2rem;
        padding-bottom: 2.5rem;
    }
}

.wrapper_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-enjoyable img, .wrapper-locally-sourced img, .wrapper-slider img{
    max-width: 500px;
    margin-top: -2.5rem;
    box-shadow: var(--card-shadow);
    z-index: 3; 
    position: relative;
}


@media screen and (max-width: 960px) {
        .wrapper-enjoyable img, .wrapper-locally-sourced img, .wrapper-slider img{
        max-width: 100%;
        width: 100%;
    }
}


.wrapper .text{
    align-self: center;
    max-width: 400px;
}

@media screen and (max-width: 960px) {
    .wrapper .text{
    align-self: center;
    justify-self: center;
    max-width: 60%;
    text-align: center;
}
}


.wrapper .text h2{
    font-size: 2.5rem;
    line-height: 3.5rem;
    /* color: var(--color-shuttle-gray); */
    font-weight: 700;
}
.wrapper .text p{
    font-size: 1.125rem;
    line-height: 1.875rem;
    /* color: var(--color-shuttle-gray); */
    font-weight: 400;
}

.container-white-bg{
    background: var(--color-white);
    color: var(--color-cod-gray);
    padding-bottom: 8rem;
}

.container{
    position: relative;
}

.container-enjoyable::after{
    content: url('./images/patterns/pattern-curve-top-right.svg');
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    display: block;
}

@media screen and (max-width: 960px) {
    .container-enjoyable::after {
    content: ''; /* Must be present, but can be empty */
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%; /* This will define the area the background image occupies */
    height: 100px; /* Give it a height so the background image has space */
    background-image: url('./images/patterns/pattern-curve-top-right.svg');
    background-repeat: no-repeat;
    background-size: contain; /* Or 'cover', '100% auto', 'auto 100%', etc. */
    /* background-size: 100% 100%; will stretch to fill the width and height of the pseudo-element */
}}

.wrapper .text::before{
    content: url('./images/patterns/pattern-divide.svg');
    position: relative;
    display: block;
    margin-bottom: 2rem;
}

.wrapper-locally-sourced{
    position: relative;
}

.container-locally-sourced::after{
    content: url('./images/patterns/pattern-curve-top-left.svg');
    position: absolute;
    top: 30%;
    right: 0;
    /* width: 60%; */
    display: block;
}

@media screen and (max-width: 960px) {
    .container-locally-sourced::after {
    content: '';
    position: absolute;
    top: 30%;
    right: 0;
    /* width: 60%; */

    width: 60%; /* This will define the area the background image occupies */
    height: 100px; /* Give it a height so the background image has space */
    background-image: url('./images/patterns/pattern-curve-top-right.svg');
    background-repeat: no-repeat;
    background-size: contain; /* Or 'cover', '100% auto', 'auto 100%', etc. */
    /* background-size: 100% 100%; will stretch to fill the width and height of the pseudo-element */
}}

.wrapper-locally-sourced::after{
    content: url('./images/patterns/pattern-lines.svg');
    position: absolute;
    top: 30%;
    right: 0.001rem;
    display: block;
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .wrapper-locally-sourced .text{
        order: 1;
    }
}

.menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu__list-item{
    display: flex;
}
.menu__list-item{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}


.menu__list-item img{
    width: 100%;
    object-fit: fill;
    aspect-ratio: 1;
    max-width: 128px;
    z-index: 3;
    position: relative;
}

.menu__list-item .text_wrapper h3{
    margin-bottom: 1rem; 
}

.menu__list-item .text_wrapper p{
    line-height: 1.5rem;
}

.wrapper-menu-list{
    padding: 6rem ;
    align-items: center;
    justify-content: center;
}

.menu__list-item .img_wrapper {
    position: relative;
}

.menu__list-item .img_wrapper::after{
    position: absolute;
    content: url('./images/patterns/pattern-divide.svg');
    top: 10px;
    right: -20px;
    z-index: 0;
}

.tabs_wrapper{
    display: flex;
    width: 100%;
}