.hero.booking{
width: 100%;
background-image: url('./images/booking/hero-bg-desktop@2x.jpg');
background-size: cover;
background-repeat: no-repeat;
min-height: 70vh;
display: flex;
justify-content: center;}

@media screen and (max-width: 960px) {
  .hero {
    background-image: url('./images/booking/hero-bg-tablet@2x.jpg');
    background-size: cover;
  }
}

nav, .hero-container{
    max-width: 1200px;
    display: flex;
    width: 100%;
}

nav{
    justify-content: flex-start;
    margin: 4rem 0;
}

.hero-container{
    color: var(--color-white);
    margin: 10rem 0 2rem 0;
    padding: 0 4rem 4rem 4rem;
}
.hero-container {
    flex-direction: column;
}

@media screen and (max-width: 960px) {
  .hero-container {
    align-items: center;
    justify-content: flex-end;
  }

  .hero-container__section{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.hero-container h1 {
  font-size: 4rem;
    font-weight: var(--weight-light);
  margin-bottom: 0.5rem;
}
.hero-container p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: var(--weight-light);
}

.hero-container h1,
.hero-container p {
  line-height: 1.8;
}

.hero-container__text{
    max-width: 45%;
}

@media screen and (max-width: 960px) {
  .hero-container h1 {
  font-size: 3rem;
    font-weight: var(--weight-light);
  margin-bottom: 0.25rem;
  line-height: 1.25;
}

.hero-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.85rem;
}


  .hero-container__text{
    max-width: 60%;
}

}

.hero-container button {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background: none;
}
.hero-container button:hover {
  background-color: var(--color-white);
    color: var(--color-cod-gray);
}
.hero-container button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-beaver);
}