nav{
    width: 100%;
}

@media screen and (max-width: 1105px) {
  .hero.booking .hero-container nav {
    justify-content: center;
    margin: 1.85rem 0;
  }
}

@media screen and (max-width: 960px) {
  nav {
    justify-content: center;
    margin: 1.85rem 0;
  }
}